/***anidaciones 2***/
/*card*/
.card1 {
    width: 100%;
    background-color: $body-bg-color;   /***variables***/
    color: $text1;                      /***variables***/
     border-radius: 4px;
     border: 4px solid $span-color;
     overflow: hidden;
     object-fit: cover;
     transition: transform .1s ease;
  &:hover{
     color: #333;
     transform: scale(1.03);
   img{
     width: 100%;
   }
  }
 
  /***anidaciones 3***/
   .card__content{
     padding: 1.5rem;
     background: linear-gradient(rgb(48, 67, 170), rgba(84, 79, 160, 0.5));
     transform: translateY(65%);
     transition: transform .3s ease;
     color: #ffff;
     border-radius: 4px;
     &:hover{
         transform: translateY(0);
       
      
     }
    
   }
 }
 .footer{
    margin-top: auto;
  }
  