.animate-entrada {
    animation: entrada 800ms ease;
}

.animate-salida {
    animation: salida 800ms ease;
}

.animate-arriba {
    animation: arriba 800ms ease;
}

.animate-abajo {
    animation: abajo 800ms ease;
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes salida {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes arriba {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes abajo {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}