/***lista desordenada redes sociales***/
.redes__sociales {
    ul {
        li {
            text-align: center;
            margin: 10px 30px;

            a {
                list-style: none;

                i {
                    font-size: 40px;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.178);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

/***lista desordenada redes sociales***/

/*** lista desordenada navbar ***/
.enlaces {
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: .5px;
        background: #fff;
        transition: .3s ease-out;
    }

    &:hover::after {
        left: 0;
        width: 98%;

    }
}

/*** lista desordenada navbar ***/